/* style.css */

body {
    background-color: #343a40; /* Dark gray background */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full height of viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-pane {
    width: calc(50% - 10px); /* 50% width of viewport minus spacing */
    max-width: 800px; /* Maximum width */
    height: 80%; /* 80% height of viewport */
    max-height: 600px; /* Maximum height */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Shadow for floating effect */
    padding: 20px; /* Add padding to content */
    background-color: #495057; /* Complementary color */
    color: #fff; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px; /* Add margin between content panes */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Ensure the canvas position is relative to the container */
}

.thin-content-pane {
    width: calc(50% - 10px); /* 50% width of viewport minus spacing */
    max-width: 300px; /* Maximum width */
    height: 80%; /* 80% height of viewport */
    max-height: 600px; /* Maximum height */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Shadow for floating effect */
    padding: 20px; /* Add padding to content */
    background-color: #495057; /* Complementary color */
    color: #fff; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
